body{
  height: 100%;
  width: 100%;
  background-color: #f2f4f7;
}

.pd {
  margin: 0;
  padding: 0;
  display: flex;
}

.pd_big-img img {
  width: 493px;
  height: 474px;   
  margin: 32px 32px 24px 24px;
  padding: 0;
}

.pd_small-img {
  display: flex;
  gap: 24px;
  margin-left: 24px;
}

.pd_small-img img {
  width: 149px;
  height: 107px;
}